﻿@using Nancy
@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<h1>Event: @Model.Name</h1>
<h2>Create new topic:</h2>
<div class="container-fluid">
    <div class="row-fluid">
        
     
        <div class="span12">
            
            <div >
                
                <form method="post" action="/event/@Model.Id/topic" class="form-horizontal well">
                    <label for="name">Topic name:</label>
                    <input type="text" name="name" id="name">
                    <label for="category">Cateory (optional):</label>
                    <input type="text" name="category" id="category" value="Idea" />
                    <br />
                       
                    <button type="submit" class="btn btn-primary" value="add">
                        <i class="icon-plus icon-white"></i>Add topic
                    </button>
                </form>
            </div>

        </div>
        <hr />
    

        <div class="row-fluid">
                    <div class="span12">
        
<h3>Topics in Event @Model.Name, so far:</h3>
                <section class="topics">
                @foreach (var t in @Model.Topics)
                {
                 <div class="row-fluid">
                       <article>
                           <div class="widget topic">
                                <header><h2>@t.Name</h2></header>
                               <section>
                                   <p>@t.Category</p>
                               <form method="post" action="/event/@Model.Id/topic/@t.Id/vote" >
                                   <button type="submit" value="vote" class="btn btn-primary btn-small" >
                                       <i class="icon-heart icon-white"></i> Vote
                                   </button>
                               </form>
                               </section>

                               

                            </div>
                        </article>
                </div>
                 
                }
            
      
            </section>
        </div>
        </div>

</div></div>
           